figure{
  margin: 0;
}

body{
  background-color: #EDEBF4;
}

.container-produtos{
  width: 90%;
  height: 100%;
  background-color: #fbf7fb;
  min-height: 100vh;

}

.sem-produtos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #fbf7fb;
  min-height: 100vh;
}


.product-grid{
  display: flex;
  text-align: center;
  padding-top: 15px;
  padding-right: 10px;
  width: 100%;
  max-width: 70%;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;

  .wrapper-produto{
      margin: 20px 15px;
      display: flex;
      width: 100%;
      align-self: center;
      gap: 1rem;

      .container-filter{
          width: 20%;
          height: auto;
          min-height: 70vh;
          background-color: white;
          border-top: 1px solid grey;
          border-right: 15px solid;
          border-image: linear-gradient(to bottom,rgb(124, 50, 103), rgb(124, 50, 103)) 1 100%;

          .wrapper-filter{
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              text-align: left;
          }
      }
  }
}