figure{
  margin: 0;
}

body{
  background-color: #EDEBF4;
}

.container-produtos{
  border-radius: 1rem;
  width: 90%;
  height: 100%;
  background-color: #EDEBF4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 0.50rem;

}

.sem-produtos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #fbf7fb;
  min-height: 100vh;
}


.product-grid{
  display: flex;
  text-align: center;
  padding-top: 15px;
  padding-right: 10px;
  width: 100%;
  max-width: 90%;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;

  .wrapper-produto{
    border-radius: 1rem 1rem 0 0;
    margin: 20px 15px;
    display: flex;
    width: 100%;
    align-self: center;
    gap: 1rem;
    background-color: #fbf7fb;
  }
}

.wrapper-filter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.container-filter{
  border-radius: 1rem;
  width: 20%;
  height: auto;
  min-height: 70vh;
  background-color: white;
  border-right: 15px solid rgb(124, 50, 103);
}

@media (max-width: 768px) {
  .product-grid{
    max-width: 100%;
    padding-left: 10px;
  }

  .wrapper-produto{
    flex-direction: column;
  }

  .container-filter{
    width: 100% ;
    min-height: 0;
    border: 0;
    padding-bottom: 10px;
  }

  .wrapper-filter{
    gap: 2.5rem;
    flex-direction: row;
  }

  .container-produtos{
    margin: 0 auto;
    width: 100%;
  }
}
  
