figure{
  margin: 0;
}

body{
  background-color: #EDEBF4;
}

.container-produtos{
  width: 80%;
  height: 100%;
  background-color: #fbf7fb;

}

.product-grid{
  display: flex;
  text-align: center;
  padding-top: 15px;
  padding-right: 10px;
  flex-direction: column;

  .wrapper-produto{
      margin: 20px 15px;
      display: flex;
      gap: 1rem;

      .container-filter{
          height: auto;
          background-color: white;
          border-top: 1px solid grey;
          border-right: 15px solid;
          border-image: linear-gradient(to bottom,rgb(255, 13, 223), rgba(0, 0, 0, 0)) 1 100%;

          .wrapper-filter{
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              text-align: left;
          }
      }
  }
}