@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

.body {
	background: #f6f5f7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
}


.button {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.button:active {
	transform: scale(0.95);
}

.button:focus {
	outline: none;
}

.button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}


.input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 113l6px;
	max-width: 100%;
	min-height: 480px;
	display: flex;
	flex-direction: column;


	.header{
		display: flex;
		width: 100%;
		position: relative;
		justify-content: center;

		>a{
			position: absolute;
			left: 0;
		}

		.title{
			padding-top: 20px;
			>h1{
				font-weight: bold;
			}
	
		}
	}

	.wrapper-form{
		margin-top: 3rem;
		display: flex;
		align-items: center;
		justify-content: center;
		.form-subscribe{
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			gap: 20px;
			padding-bottom: 20px;
			>input{
				background-color: #eee;
				border: none;
				padding: 12px 15px;
				width: 450px;
			}

			.submit{
				background-color: #FF4B2B;
				color: white;
				width: 25rem;
				height: 3rem;
				border-radius: 1rem;
			}
		}
	}
}