.main-request{
  text-align: center;
  height: 141px;

  >h1{
      font-family: WinterSunday;
      color: #000;
  }

  >button{
      font-family: "Viga", Arial, Helvetica, sans-serif;
      background-color: #FFB2CE;
      color: #fff;
      height: 56px;
      width: 273px;
      font-size: 27px;
      border: 0;
  }
}

.container-home{
  background: #FFFFFF;
}

.container-Content{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  width: 95%;
  background-color: #FFFFFF;
}

.slide-desk{
  display: block;
}

.slide-mob{
  width: 100%;
  padding-top: 20px;
  display: none;
  margin: 0 auto;
}

.carousel-desktop{
  display: block;
  width: 100%;
}

.carousel-mobile{
  width: 100%;
  display: none;
}

@media(max-width: 928px){
  .slide-desk{
    display: none;
  }

  .carousel-desktop{
    display: none;
  }

  .carousel-mobile{
    display: block;
  }

  .slide-mob{
    display: flex;
  }
}